@import '../../styles/global.scss';

.form_group{
    position: relative;
    
    .input_label{
        .input{
            position: relative;
            border: 1px solid $text-gray;
            box-sizing: border-box;
            border-radius: 3px;
            height: 45px;
            width:100%;
            padding-left: 10px;
            color:$black;
            font-size: 16px;
            outline: transparent !important;
            opacity: 0.8;
            // &[type='password'] {
            //     // letter-spacing: 0.3em;
            // }    

            &::placeholder{
                font-size: 15px;
                opacity: 0.8;
            }
        }
        .password_eye_icon{
            position: absolute;
            top:28%;
            right:18px;
            cursor: pointer;
            .eye_icon{
                color:$text-gray;
                font-size: 20px;
            }
        }
    }
}

.form_select_input{
    select{
        width:100%;
        background-color: $white;
        border: 1px solid $text-gray;
        height: 45px;
        border-radius: 3px;
        color: $black;
        font-size: 16px;
        padding-left:10px;
        opacity: 0.8;
        outline: transparent !important;
        &:focus{
            color: $black;
            font-size: 16px;
            text-transform: capitalize;
            // outline-color: $orange;
        }

        option{
            color: $black;
            font-size: 16px;
        }
    }
}

._{
    .textarea{
        width:100%;
        outline: transparent;
        border-radius: 3px;
        padding-left:10px;
        border: 1px solid $text-gray;
        font-family: $font-primary;
        font-size: 15px;
        color: $black;
        opacity: 0.8;
        padding-top:5px;
        &::-webkit-input-placeholder {
            font-family: $font-primary;
            font-size: 15px;
            opacity: 0.8;
        }
        &:-moz-placeholder {
            font-family: $font-primary;
            font-size: 15px;
            opacity: 0.8;
        }
        &::-moz-placeholder {
            font-family: $font-primary;
            font-size: 15px;
            opacity: 0.8;
        }
        &:-ms-input-placeholder {
            font-family: $font-primary;
            font-size: 15px;
            opacity: 0.8;
        }
    }
}

.form_picker_input_group{
    .picker_input{
        button.picker{
            height:45px;
            background-color: $white;
            border: 1px solid $text-gray;
            color: $black;
            font-weight: 500;
            // border-radius: 3px;
            cursor: pointer;
            text-align: left;
            padding-left: 15px;
            font-size: 15px;
            &:hover{
                background-color: $dark-blue;
                color: $white;
            }
        }
        button.picker_selected{
            background-color: $dark-blue;
            color: $white;
        }
    }
}

label{
    font-size:17px;
    display: block;
    padding-bottom: 10px;
    font-weight: 600;
    color: $dark-gray;
    span{
        color: $orange;

        .que_mark{
            color:$text-gray;
        }
    }
}