@import '../../styles/global.scss';

._{
    @extend %container;
    padding-top:70px;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    .container{
        background-image: url("https://images.unsplash.com/photo-1544006659-f0b21884ce1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $black;
        height: 320px;
        border-radius: 20px;
        .content{
            padding:100px  50px 100px 50px;
            @media(max-width:$break-point-s) {
                padding:100px  0px 100px 0px;
            }
            .header{
                @media(max-width:$break-point-s) {
                    padding-left:10px;
                }
                .logo{
                    img{
                        width: 160px;
                    }
                }
                h2{
                    color: $white;
                    margin-top:10px;
                    font-size: 28px;
                    font-weight: 600;
                }
            }
            .form_container{
                background-color: $white;
                padding: 20px 30px;
                border-radius: 15px;
                @media screen and (max-width:415px) {
                    padding:20px 0px;
                }
                @media(max-width:$break-point-s) {
                    border-radius: 0px;
                }
                form{
                    > * {
                        margin-bottom:20px;
                    }
                    .description_input{
                        .desc_textarea{
                            width:98.5%;
                        }
                    } 
                    .location_device_input{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        @media screen and (max-width:$break-point-l) {
                            flex-direction: column;
                        }
                        .location_input{
                            width:460px;
                            flex: 0 0 auto;
                            @media screen and (max-width:$break-point-xxl) {
                                width: 360px;
                            }
                            @media screen and (max-width:$break-point-l) {
                                width: 100%;
                                margin-bottom:20px;
                            }
                        }
                        .device_input{
                            width:460px;
                            flex: 0 0 auto;
                            @media screen and (max-width:$break-point-xxl) {
                                width: 360px;
                            }
                            @media screen and (max-width:$break-point-l) {
                                width: 100%
                            }
                        }
                    }
                    .device_price{
                        display: flex;
                        justify-content: space-between;
                        @media screen and (max-width:$break-point-l) {
                            flex-direction: column;
                        }
                        .usage_type{
                            @media screen and (max-width:$break-point-l) {
                                width: 100%;
                                margin-bottom:20px;
                            }
                            button{
                                width:230px;
                                &:first-of-type{
                                    border-right: none;
                                }
                                @media screen and (max-width:$break-point-xxl) {
                                    width: 180px;
                                }
                                @media screen and (max-width:$break-point-l) {
                                    width: 50%;
                                }
                                
                            }
                        }
                        .price_input_container{
                            position: relative;;
                            .price_input{
                                width:460px;
                                padding-left: 30px;
                                opacity: 1;
                                @media screen and (max-width:$break-point-xxl) {
                                    width: 360px;
                                }
                                @media screen and (max-width:$break-point-l) {
                                    width: 100%
                                }
                                &::placeholder{
                                    color: $black;
                                    opacity:1;
                                }
                            }
                            .currency_icon{
                                position: absolute;
                                top:46px;
                                left:12px
                            }
                        }
                    }

                    .deliverables{
                        p{
                            font-weight:600;
                        }
                        .deliverable_list_container{
                            .deliverable_list{
                                
                                .deliverable_item{
                                    display: flex;
                                    justify-content: space-between;
                                    width:100%;
                                    margin-bottom: 8px;
                                    @media screen and (max-width:415px) {
                                        flex-direction: column;
                                        
                                    }
                                    p{
                                        margin-right: 30px;
                                        @media screen and (max-width:415px) {
                                            margin-right: 10px;
                                        }
                                    }
                                    .deliverables_input{
                                        width:600px;
                                        @media screen and (max-width:1028px) {
                                            width: 500px;
                                        }
                                        @media screen and (max-width:918px) {
                                            width: 350px;
                                        }
                                        @media screen and (max-width:760px) {
                                            width: 250px;
                                        }
                                        @media screen and (max-width:515px) {
                                            width: 200px;
                                        }
                                        @media screen and (max-width:470px) {
                                            width: 100%;
                                        }
    
                                    }
                                    .input_btn{
                                        > *{
                                            width: 45px;
                                            height: 45px;
                                            border-radius: 5px;
                                            border:none;
                                            color: $white;
                                            font-weight: 500;
                                            @media screen and (max-width:415px) {
                                                margin-left: 20px;
                                            }
                                        }
                                       .sub_btn{
                                           background-color: $orange;
                                           
                                       }
                                        
                                    }
                                }
                            }
                            .add_clear_deliverable{
                                display: flex;
                                justify-content: space-between;
                                width: 100%;
                                @media screen and (max-width:415px) {
                                    flex-direction: column;
                                }
                                .add_clear_form_input{
                                    display: flex;
                                    align-items: flex-start;
                                    
                                    p{
                                        margin-right: 30px;
                                        @media screen and (max-width:415px) {
                                            margin-right: 10px;
                                        }
                                    }
                                    .add_clear_input{
                                        width: 600px;
                                        @media screen and (max-width:1028px) {
                                            width: 500px;
                                        }
                                        @media screen and (max-width:918px) {
                                            width: 350px;
                                        }
                                        @media screen and (max-width:760px) {
                                            width: 250px;
                                        }
                                        @media screen and (max-width:515px) {
                                            width: 200px;
                                        }
                                        @media screen and (max-width:470px) {
                                            width: 100%;
                                        }
                                    }
                                }
                                .add_clear_btn{
                                    display: flex;
                                    column-gap: 10px;
                                    @media screen and (max-width:415px) {
                                        margin-left: 20px;
                                    }
                                    > *{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                    .images_upload{
                        p{
                            font-weight: 700;
                        }
                    }
                    .submit_btn{
                        margin-top:50px;
                        .submit{
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

.add_btn, .sub_btn{
    background-color: $dark-blue;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border:none;
    color: $white;
    font-weight: 500;
    flex-shrink: 0;
    .add_icon, .sub_icon{
        font-size: 20px;
    }
}

.sub_btn{
    background-color: $orange;
}